body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin-top: 100px;
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
}

.signup-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.signup-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.signup-form p {
    text-align: center;
    margin-top: 15px;
}

.signup-form a {
    color: brown;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}
